table.table_list {
    margin: auto;
    width: 73%;
    empty-cells: show;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 3px;
    border-color: black;
    background-color: var(--foroOscuro) !important;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

tbody.content {
    font-family: arial, sans-serif;
    background: var(--foroClaro2);
    background-attachment: fixed;
    font: 78%/130% verdana, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 16px;
    color: var(--grisSalvio);
    border-radius: 10px 10px 10px 10px;
}

h1.titema {
    font-size: 35px;
    color: white;
    background-color: var(--foroOscuro);
    text-align: center;
}
td.info {
    background-color: var(--foroClaro);
}
td {
    height: 60px;
    text-align: center;
    border-radius: 10px 10px 10px 10px !important;
}
#anadircomment {
  font: 78%/130% verdana, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 10px;
  color: var(--foroClaro);
  color: var(--letraOscuraSalvio);
  border-top: 1px solid var(--foroOscuro);
  border-left: 1px solid var(--foroOscuro);
  border-right: 1px solid var(--foroOscuro);
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: var(--foroOscuro);
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #2C4C36;
  -moz-box-shadow:-0px -1px 2px #2C4C36;
  -webkit-box-shadow:-0px -1px 2px #2C4C36;
  font-weight: normal;
  font-size: 12px;
}
#cajaformcomment {
    margin-left: 5rem;
    width: 80%;
    color: green;
    background-color: #8bf39b;
    border-radius: 10px 10px 10px 10px;
    border-color: #94f38b;
}
#textoComentario {
    background-color: #6db667;
    border-radius: 10px 10px 10px 10px;
    resize:none;
}

#desc{
  resize: none;
  width: 92%;
  margin-top: 1%;
  margin-left: 1%;
  padding-left: 2% !important;
  background: var(--blancoSalvio) !important;
}
#temaForoEstrecho{
  resize: none;
  width: 92%;
  margin-top: 1%;
  margin-left: 1%;
  padding-left: 2% !important;
  font-size: 20px !important;
  background: var(--blancoSalvio) !important;
  text-align: left !important;
}

.noDiscusion{
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 72%;
    color: var(--letraClaraSalvio);
    padding: 25px 15px !important;
    background-color: var(--foroOscuro) !important;
    text-align: center;
    font-size: 18px !important;
    border-radius: 10px 10px 10px 10px;
}

#foto{
 margin: 0 auto;
  resize: none;
  width: 92%;
  margin-top: 2%;
  font-size: 18px !important;
}

.botonAnTema{
    font-size: 16px;
    padding: 15px 20px !important;
    margin: 0 auto;
}

#botontema {
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
}

#botontema:hover {
    opacity: 0.6;
    text-decoration: none;
}
#anadirDisc {
    font: 78%/130% verdana, Helvetica, sans-serif;
    font-size: 20px;
    color: green;	color: #000000;
    border-top: 1px solid #119658;
    border-left: 1px solid #119658;
    border-right: 1px solid #119658;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #8BF39B;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #2C4C36;
    -moz-box-shadow:-0px -1px 2px #2C4C36;
    -webkit-box-shadow:-0px -1px 2px #2C4C36;
    font-weight: normal;
    font-size: 12px;

}
#cajaformDisc {
    width: 80%;
    margin-left: 5rem;
    color: green;
    background-color: #8bf39b;
    border-color: #94f38b;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #119658;
    padding: 20px;
    background: #8BF39B;
    box-shadow: inset 0px 0px 15px #2C4C36;
    -moz-box-shadow: inset 0px 0px 15px #2C4C36;
    -webkit-box-shadow: inset 0px 0px 15px #2C4C36;

}

#tituloDiscusion {
    background-color: #baedc2;
    border-radius: 10px 10px 10px 10px;
    border-color: #6db667;
}
#botondisc {
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
}

#botondisc:hover {
    opacity: 0.6;
    text-decoration: none;
}

#anadirTema {
    font: 78%/130% verdana, Helvetica, sans-serif;
    font-size: 20px;
    color: green;
    background-color: #8bf39b;
}
#inputTema {
    font: 78%/130% verdana, Helvetica, sans-serif;
    font-size: 20px;
    color: green;
    width: 40% !important;
    background-color: #8bf39b;
}

/*FORMULARIO BIEN*/
#anadirTema {
    font: 78%/130% verdana, Helvetica, sans-serif;
    font-size: 18px !important;
    color: green;
    color: var(--letraClaraSalvio);
    border-top: 1px solid #119658;
    border-left: 1px solid #119658;
    border-right: 1px solid #119658;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background:var(--foroOscuro);
    padding: 0px 8px 3px 8px;
    font-weight: normal;
    font-size: 12px;
  }

.foroForm{
    margin-left: 3%;
}

#cajaformTema{

  width: 70.5%;
  color: var(--letraOscuraSalvio);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 1%;
  border: 1px solid var(--foroOscuro);
  padding: 20px;
  background: var(--foroForm);
  box-shadow: inset 0px 0px 15px var(--foroOscuro);
  -moz-box-shadow: inset 0px 0px 15px var(--foroOscuro);
  -webkit-box-shadow: inset 0px 0px 15px var(--foroOscuro);
}

#cajaformTema form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items:flex-start;

}

#cajaformTema form input {
    height: 2rem;
    border-radius: 1rem;
    padding: 0.2rem;
    margin: 0.3rem;
}

#cajaformTema form textarea {
    height: 5rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

#cajaformTema form button[type="submit"] {
    padding: 0.5rem;

    margin-top: 0.7rem;
    margin-bottom: 0.4rem;

    border-radius: 1rem;

    font-weight: bold;
    transition: all 0.3s ease 0s;
}

#cajaformTema form button[type="submit"]:hover {
    background-color: var(--foroClaro2);
}

#cajaformTema form button[type="submit"]:active {
    background-color: var(--foroOscuro);
}


#boardindex_table{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.marginDescForo{
    margin-top: 1%;
}

#board_index_table p{
    font-size: 1.5rem;
    background-color: var(--foroOscuro);
    width: 80%;
    border-radius: 2rem;
    margin-right: 10%;
    margin-left: 10%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.info a:link, td.imagen a:link{
    color: var(--letraClaraSalvio);
}

.info a:visited, td.imagen a:visited{
    color: var(--grisSalvio);
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
