.mainChatContent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-self: center;

    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    padding: 0.5rem;
}

.mainChatContent span {
    display: inline-block;
    font-size: 1rem;
}

/*Primera parte del chat, columna de chat --> perfil de usuario y chats*/

.otherChatsMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-self: center;

    width: 100%;
    height: 100%;

    overflow: hidden;
    overflow-y: scroll;
}

.otherChatsMain::-webkit-scrollbar {
    width: 0.35rem;
}

.otherChatsMain::-webkit-scrollbar-track {
    background-color: greenyellow;
}

.otherChatsMain::-webkit-scrollbar-thumb {
    background-color: black;
}

.mainUserChats {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-self: flex-start;

    background-color: pink;
    width: 20%;
}

.otherUserChat,
.userProfile {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-self: center;

    height: 5rem;
    width: 100%;

    background-color: rgb(199, 72, 182);
    margin: 0.1rem;
}

.otherUserChat:hover {
    background-color: hotpink;
}

.otherUserChat:active {
    background-color: rgb(245, 69, 157);
}

.userProfile {
    margin-bottom: 1rem;

    border-style: solid;
    border-color: black;

    width: 100%;
    background-color: red;
}

.otherUserChatName,
.userProfileName,
.otherUserProfileName {
    color: black;
    font-size: 2%;
    margin-left: 0.4rem;

    text-align: center;
    align-self: center;
    margin-right: auto;

    margin-left: 1rem;

    font-size: 1rem;
    font-weight: bold;
}

.userProfileImg img,
.otherUserProfileImg img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    align-self: center;
}

.otherUserProfile {
    height: 4rem;
}

.otherUserProfileImg {
    margin-left: 1rem;
}

.otherUserChatImg,
.userProfileImg {
    text-align: center;
    align-self: center;
    /*margin-right: auto;*/
    margin-left: 1rem;
}

.otherUserChatImg img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    align-self: center;
}

.otherUserImg,
.userProfileImg,
.otherUserProfileImg {
    text-align: center;
    align-self: center;
    align-content: center;
}

/*Segunda parte del chat, los mensajes y el caudro de texto para enviar mensajes*/

/*Otro perfil de usuario*/
.otherUserProfile {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-self: center;

    background-color: burlywood;
}

/*CHAT*/
.mainUserCurrentChat {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    align-self: center;

    margin-left: 0.5rem;

    width: 100%;
    height: 32rem;

    overflow: hidden;
    background-color: rgb(197, 197, 190);

    border: black;
    border-style: solid;
}

.chatActual {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-self: center;

    width: 100%;
    height: 20rem;

    /*
    overflow: hidden;
    overflow-y: scroll;
    */
}

.otherCurrentUser {
    position: relative;
}

/*

.currentUserMessage,
.otherUserMessage {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 70%;
    font-size: 1rem;

    padding: 0.5rem;
    border-radius: 1rem;

    display: block;
    position: relative;
    list-style: none;
    
    white-space: pre-wrap;
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;
    white-space: -o-pre-wrap; 
    word-wrap: break-word; 
    


}

.currentUserMessage {
    background-color: rgb(159, 206, 152);
    margin-left: auto;
}

.otherUserMessage {
    background-color: rgb(198, 199, 194);
    margin-right: auto;
}

*/

/*Para enviar mensajes*/
.textoChat {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-self: center;

    padding: 0.4rem;

    margin-left: auto;
}

.mainChatEmpty {
    background-color: rgb(197, 197, 190);
}

.chatNoHayMensajes {
    background-color: rgb(197, 197, 190);
}

.textoChat textarea {
    border: solid 0.05rem rgb(0, 0, 0);
    border-radius: 2rem;
    padding: 1rem;

    width: 25rem;
}

.textoChat input {
    cursor: pointer;
    border: solid 0.05rem;
    border-radius: 2rem;
    margin-left: 1rem;
    transition: all 0.3s ease 0s;
    width: 6rem;
    height: 2rem;

    align-self: center;
}

.textoChat input:hover {
    background-color: rgb(109, 216, 154);
}

/*CSS MENSAJES CHAT*/

.messages {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font: 16px/1.3 sans-serif;
    overflow: auto;
    padding: 0;
    background: linear-gradient(
        rgb(255, 143, 178) 0%,
        rgb(167, 151, 255) 50%,
        rgb(0, 229, 255) 100%
    );
}

.messages:after {
    content: "";
    background: white;
    flex: 1;
    pointer-events: none;
}

.messages li {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    border-width: 2px 16px 2px 8px;
    flex: 0 0 auto;
}

.messages li.mine {
    flex-direction: row;
    border-right-width: 8px;
    border-left-width: 16px;
   
}

.messages li:first-child {
    border-top-width: 10px;
}

.messages li:last-child {
    border-bottom-width: 10px;
}

.messages li:before {
    content: "";
    flex: 1;
    background: white;
    pointer-events: none;
}

.messages li .textspanChat{
    background: #eee;
    padding: 8px;
    position: relative;

    width: auto;
    max-width: 60%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.messages li .textspanChat:before {
    content: "";
    position: absolute;
    left: -8px;
    top: -8px;
    bottom: -8px;
    right: -8px;
    border: 8px solid white;
    border-radius: 16px;
    pointer-events: none;
}

.messages li.mine .textspanChat {
    background: none;
    color: white;
}

.messages::-webkit-scrollbar {
    width: 0.35rem;
    margin-left: 10rem;
}

.messages::-webkit-scrollbar-track {
    background-color: greenyellow;
}

.messages::-webkit-scrollbar-thumb {
    background-color: black;
}

.chatFoto{
    width: 25rem;
    height: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.messages li .hourspanChat{
    font-size: 0.7rem;
    float: right;
    padding-top: 10px;
    color: rgb(231, 231, 231);

}
.otherUserMessage span .hourspanChat{
    color: rgb(136, 129, 129);
}
.chatCenter span{
    border: 32rem solid white;
    border-style: none none none solid;
}

.messages .chatCenter .textspanChat{
    background-color: rgb(165, 184, 224);
    color: rgb(39, 10, 71);
}

@media only screen and (max-width: 1000px) {
    .currentUserMessage,
    .otherUserMessage {
        font-size: 1rem;
        
    }

    .mainUserChats {
        width: 18rem;
    }

    .mainUserCurrentChat {
        width: 100%;
        height: 29rem;
    }

    .textoChat textarea {
        width: 80%;
        height: 2rem;
    }

    .textoChat {
        padding: 0.2rem;
    }

    .chatFoto{
        width: 10rem;
        height: 10rem;
    }
}
