.generalCom{
  width: 76%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.titCom{
  font-size: 35px;

}

.tituloCom{
  margin: 0 auto;
  margin-bottom: 1%;
}


.comentarioCom{
  padding: 20px 5px 25px 5px;
  width:100%;
  height: auto;
  margin:2%;
  background-color:  var(--foroClaro2);
  box-shadow: 3px 3px 8px #808080,
              -3px -3px 8px #ffffff;
  border-radius: 15px;
}
.fechaCom{
  padding-left: 40px;
  width:80%;

}
.usuCom{
  width: 100%;
  margin: 0 auto;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
}
.usuComVert{
  padding: 0px 0px 15px 40px;
  width: 22%;
  margin-right: 1.5%;
  height: auto;

}

.rolusuariocomvert{
  margin-top: 1%;
  margin-bottom: 3%;
}

.comentarioVert{
  width: 66%;
  margin-right: 2%;
  padding: 1.5%;
  margin-bottom: 2%;
  border-radius: 15px;
  background-color: var(--foroComentario);
}