.discusiones {
    background-color: #8BF39B;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    box-sizing: border-box;
    border-style: solid;
    border: solid transparent;
    overflow-wrap: break-word;
    width: 90%;
    border-radius: 20px 20px 20px 20px;

}


.discusiones ul {
    list-style: none;
}

.discusiones ul li {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #1E5F02;
  border-radius: 10px 10px 10px 10px;
  margin:10px;
  padding: 0 5px;
}
.discusiones p{
  font-size: 20px;
  color: #3C090A;
  font-weight: bold;
}
