footer{
    margin-top: 2rem;
    width:100%;
    color: white;
}
.footerTitle{
    margin: auto;
    padding: 1rem;
    text-align: center; 
    box-sizing: border-box;
    background-color: rgb(40, 40, 51);
}

.footerA{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.footerBox{
    margin-top:1rem;
    margin-bottom:1rem;
    padding: 0.5% 1%; /*tamaño de el recuadro*/
    width: 75%;
    text-align: center; 
}
.footerBox:first-of-type{
    margin-left: auto;
}
.footerBox:last-of-type{
    margin-right: auto;
}
.footerBox a:link, .footerBox a:visited{
    text-decoration: none;
    color: rgb(194, 194, 194);
}
.footerBox a:hover{
    color: rgb(255, 255, 255);
}

.footerTotal{
    background-color: black;
}

.footerImagen {
    text-align: center; 
    padding: 1rem;
}
.footerImagen img{
    width: 6rem;
    height:auto;
}

.footerSvg{
    display: flex;
    flex-direction: row;
    width: 100%;
    vertical-align: middle;
    align-self: center;
}

.footerSvgSvg {
    padding: 0.5rem;
    width: 2rem;
    height:auto;
}

.footerSvgSvg:first-of-type {
    margin-left: auto;
}

.footerSvgSvg:last-of-type {
    margin-right: auto;
}

.footersvgAzul:hover path{
    fill: rgb(0, 80, 185);
}

.footersvgAzulClaro:hover path{
    fill: rgb(55, 132, 231);
}

.footersvgRojo:hover path{
    fill: rgb(255, 28, 28);
}

.footerCopyright{
    padding: 1rem;
    color: rgb(194, 194, 194);
    text-align: center; 
}
