@import url("root.css");

.barraAdmin{
    margin-top: -2%;
    padding: 1%;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    list-style: none;

    background-color: var(--naranja3);

    --colorNav: var(--naranja3);
    --colorNavHover: var(--naranja1);
    --colorTextNav: var(--letraClaraSalvio);
    --colorTextNavHover: var(--naranja3);
}

.botonAdmin{
    padding: 1%;
    background-color: var(--naranja2);
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    border-radius: 15px;
}

.botonAdmin a{

    text-decoration: none;
    font-weight: bold;

    margin: 1rem;

    color: var(--colorTextNav);

    transition: all 0.3s ease 0s;

}

.botonAdmin a:hover{
  color: white;
}

.botonAdmin:hover{
    background-color: var(--colorTextNavHover);
}