.notificacionesTotal {
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px;
    border-style: none none solid none;
    border-color: var(--colorNotificaciones4);
    width: 50%;
}

.notificacionesTitulo {
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    border: 2px;
    border-style: none none solid none;
    border-color: var(--colorNotificaciones3);
}

.notificacionesCenter {
    color: var(--colorNotificaciones2);
    width: 75%;
}

.notificacionesCenter a{
    color: var(--colorNotificaciones2);
}

.notificacionesCenter:hover {
    color: var(--colorNotificaciones);
}

.notificacionesCenter a:hover{
    color: var(--colorNotificaciones);
}

.notificacionesCenterHora {
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
    border-color: var(--colorNotificaciones2);
    width: 30%;
    border-radius: 10px 10px 10px 10px; /*Mejora las esquinas*/
}

@media only screen and (max-width: 950px) {
    .notificacionesTotal {
        width: 80%;
    }

    .notificacionesCenter {
        width: 90%;
    }
}
