:root {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    --text-primaty: #000000;
    --text-secondary: #000000;
    --bg1: #000000;
    --bg2: #000000;
    --bgScroll1: #000000;
    --bgScroll2: #95e8d0;

    --colorNav: #000000;
    --colorNavHover: #2c7862;
    --colorTextNav: #000000;
    --colorTextNavHover: #6edebd; /*46cfad*/

    /*Variables*/

    --fondo: #ffce93;
    --letraClara: white;
    --letraOscura: black;

    --cajaFondo:   #cae7df;
    --cajaSombra1: #a0b9b4;
    --cajaSombra2: #ffce93; 
    --sombraInput1:
    --sombraInput2:

    --caja1:
    --caja2:
    --caja3:

    --cajaIntercambio: white;

    /*Variables Boton Oscuro*/

    --boton: #11999e;
    --botonHover: #119e47;
    --botonAction: #ffb367;
    --botonLetra: #e4f9f5;
    --botonHoverLetra: #40514e;
    --botonActionLetra:

    /*Variables Boton Claro*/

    --botonClaro:
    --botonHoverClaro:
    --botonActionClaro:
    --botonLetraClaro:
    --botonHoverLetraClaro:
    --botonActionLetraClaro:

    --colClaro1: white;
    --colClaro2: 

    --colOscuro1: #2c7862;
    --colOscuro2:
    


    /*Scroll Bar para Mozilla*/
    scrollbar-color: var(--bgScroll2) var(--bgScroll1) !important;
    scrollbar-width: thin !important;
}

/*Fuente para mozilla*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  @-moz-document url-prefix() {
    *{
        font-family: "Gill Sans Extrabold", Helvetica, sans-serif
      }
  }
 