:root {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    --text-primaty: #ffffff;
    --text-secondary: #ffffff;
    --bg1: #000000;
    --bg2: #000000;
    --bgScroll2: #9e62a0;
    --bgScroll1: #9c9c9c;

    --colorNav: #000000;
    --colorNavHover: #ffffff;
    --colorTextNav: #000000;
    --colorTextNavHover: #b56ede; /*46cfad*/

    /*Variables*/
    /*Purple rgb(96,60,186)*/

    --fondo: #1d1c1c;
    --letraClara: rgba(255, 255, 255, 0.637);
    --letraOscura: rgba(255, 255, 255, 0.637);
    --letraClara2: white;

    --cajaFondo:   #361f49;
    --cajaFondoClaro:#2a112b;
    --cajaSombra1: #49295800;
    --cajaSombra2: #ae84e600; 

    --caja1: rgba(96, 60, 186, 0.651);
    --caja2: rgba(141, 51, 168, 0.356);
    --caja3: #343238fd;
    --caja4: #2abec4;

    --cajaTienda:  #343238fd;

    --cajasThing: rgba(141, 51, 168, 0.356);
    --brilloCajaThing:  rgba(206, 208, 219, 0.685);

    --cajaIntercambio: white;

    --cajaIntercambioTienda: var(--cajaTienda);


    --colorChatOther: rgb(46, 45, 45);

    /*Variables Boton Oscuro*/

    --boton: #11999e;
    --botonHover: #30c0c5;
    --botonAction: #c9823a;
    --botonLetra: #e4f9f5;
    --botonHoverLetra: #40514e;


    --botonTiendaIntercambio: var(--botonNaranja);
    --botonTiendaIntercambioHover: var(--botonNaranjaClaro);
    --botonTiendaIntercambioActive: rgb(84, 50, 104);


    --cInterNor:  #3a3b3b;
    --cInterMist: #2b273a;

    --cajaPresentacionInter: var(--fondo);


    /*Variables Boton Claro*/


    --colClaro1: white;
    --colClaro2: ;

    --colOscuro1: #2c7862;


    /*Alfonso
    var(--);
    */
    --linea: #99a1a1;
    --marco: #11999e;

    /*Color cabecera*/
    --botonCabec: var(--botonAdmin);
    --botonCabecHov: var(--foroOscuro);;
    --botonCabecAct: #3ab8c9;

    --botonMainButton: #17b2b8;
    --letraDesplega: #ffffff;

    --fecha: #a990b3;
    --userChat: #30c0c5;

    --tituloIN: #1a7581;
    --autorIN: #3b78b4;
    --UserIN: #7098da;
    --colOscuro1: #2c7862;
    --colOscuro2: #064432;

    /*Ranking par*/

    --rankingPar: #4b2669;
    --rankingInpar: #633081;

    /*Fin Alfonso*/
 
    
    /*Salvio*/
   	--cabecera: #222831;
   	--footer: #222831;
   	--fondoSalvio: #30475e;
   	--barraNavegacion:#233343;
   	--botonBarraNavegacion: #233343;
   	--cuadroClaro:#ececec;
   	--cuadroOscuro:#ceb997;
   	--botonClaro: #30c0c5;
   	--botonOscuro:#11999e;
   	--letraClaraSalvio: white;
   	--letraOscuraSalvio: black;
   	--botonCancelar:#ff3333;
   	--cancelarHover:#cc0000;
   	--precioBorder:#453949;
   	--precioBackground:#5f5f5f;
   	--blancoSalvio: #ffffff;
   	--grisClaroSalvio: #d9d9d9;
   	--grisSalvio:#181616;
   	--foroClaro: #232426;
   	--foroOscuro: #92799b;
   	--foroClaro2:#434746;
   	--botonAdmin: #44384e;
   	--foroForm: #434746;
   	--foroComentario: #434746;
   	--naranja1:#00bfff;
   	--naranja2:#0099cc;
   	--naranja3:#007399;
   	--botonNaranja:#632666;
   	--botonNaranjaClaro:#8a3686;
   	--botonNaranjaSombra: #c69de7;
    --fondoLibro:#492958;
    --fondoValoracion:#92799b;
    --estrellaVal: #e67300;
    --libroSombra: #b35900;
    --fondoUsuario:#3a3a3a;

    /*Quotes index*/

    --cajaQuote: #343238fd;
    --letraQuote: #e4f9f5;


    /*Scroll Bar para Mozilla*/
    scrollbar-color: var(--bgScroll2) var(--bgScroll1) !important;
    scrollbar-width: thin !important;
}

/*Fuente para mozilla*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  @-moz-document url-prefix() {
    *{
        font-family: "Gill Sans Extrabold", Helvetica, sans-serif
      }
  }
 