.box{
width: 80%;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
align-items: center;
}

.libro{
padding: 25px 35px 30px 35px;
width:38%;
height: auto;
margin:2%;
background-color:  #e6e6e6;
box-shadow: 3px 3px 8px #808080,
            -3px -3px 8px #ffffff;
border-radius: 15px;
}

.botones{
width: 100%;
padding: 0px 12px 0px 12px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
align-items: center;
}



.fila{
width: 100%;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
}


.enlace{
padding: 16px 20px 20px 20px;
width:170px;
height: auto;
margin:2%;
margin-left: 15px !important;
background-color:  #3385ff;
border-radius: 27px;
}

.enlace a{
    text-decoration: none;
}

.enlace:hover{
    background-color: rgb(114, 157, 236);
}

.enlace:active{
    background-color: rgb(82, 119, 185);
}

.nologin{
width: 100%;
padding: 5px 0px 0px 0px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
align-items: center;
}

.info{
	padding: 16px 20px 20px 20px;
width:38%;
height: auto;
margin:1%;
margin-left: 15px !important;
background-color:  #4d94ff;
border-radius: 27px;
}

.compra{
	padding: 16px 20px 20px 20px;
width:30%;
height: auto;
margin:1%;
margin-left: 15px !important;
background-color:  #4d94ff;
border-radius: 27px;
}

.euros{	
	font-size: 20px;
}

.imagen{
padding: 5px 10px 5px 10px;
width:25%;
height: auto;
margin:2%;
}

.atributos{
padding: 10px 15px 15px 15px;
width:51%;
height: auto;
margin:2%;
}

.blanco{
	color: #ffffff !important;
}

.grisClaro{
	color: #d9d9d9 !important;
}

.gris{
	color: #1a1a1a !important;
}

.titulo{
	margin-top:2%;
	font-size: 18px;
	font-weight: bold;
}

.precio{
	padding: 11.5px 17px 15.5px 17px;
	width:70px;
	margin:2%;
	margin-left:0px !important;
	background-color:  #ebe4e0;
	border-radius: 150px;
	border-style: solid;
	border-color: #fbb750;
 	border-width: 5.5px;
}

.centrado{
	text-align: center;
}

.aviso{
	margin: 0 auto;
	margin-top: 1% !important;
	margin-bottom: 2.5% !important;
	padding: 18px 20px 20px 38px;
	width:59%;
	height: auto;
	background-color:  #3385ff;
	box-shadow: 3px 3px 8px #808080,
	            -3px -3px 8px #ffffff;
	border-radius: 15px;
}

.autor{
	margin-top: 1%;
	margin-bottom: 2%;
}