/* Leaderboard de los libros */

.leaderboard {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: flex;

    background: linear-gradient(to bottom, #3a404d, #181c26);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.leaderboard h1{
    font-size: 18px;
    color: #e1e1e1;
    padding: 12px 13px 18px;
}

.leaderboard ol {
    counter-reset: leaderboard;
}

.leaderboard ol li {
    position: relative;
    z-index: 1;
    font-size: 14px;
    counter-increment: leaderboard;
    padding: 18px 10px 18px 50px;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
    list-style-type: none;
}

.leaderboard ol li::before {
    content: counter(leaderboard);
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #000000;
    background: #fff;
    border-radius: 20px;
    text-align: center;
}

.leaderboard ol li mark {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: none;
    color: #fff;
}

.leaderboard ol li mark a:link{
    color: #fff;
    text-decoration: none;
}
.leaderboard ol li mark a:visited{
    color: #fff;
    text-decoration: none;
}
.leaderboard ol li mark a:hover{
    color: #000000;
    text-decoration: none;
}
.leaderboard ol li mark a:active{
    color: #000000;
    text-decoration: none;
}

.leaderboard ol li mark::before, mark::after {
    content: "";
    position: relative;
    z-index: 1;
    bottom: -11px;
    left: -9px;
    border-top: 10px solid #c24448;
    border-left: 10px solid transparent;
    transition: all 0.1s ease-in-out;
    opacity: 0;
}

.leaderboard ol li mark::after{
    left: auto;
    right: -9px;
    border-left: none;
    border-right: 10px solid transparent;
}

.leaderboard ol li small {
    position: relative;
    z-index: 2;
    display: block;
    text-align: right;
    color: #fff;
}

.leaderboard ol li::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fa6855;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.leaderboard ol li:nth-child(odd){
    background: #060061;
}
.leaderboard ol li:nth-child(even){
    background: #0058a0;
}
.leaderboard ol li:nth-child(1){
    background: #b99e00;
}
.leaderboard ol li:nth-child(2){
    background: #747474;
}
.leaderboard ol li:nth-child(3){
    background: #866300;
}

/* Sección de comentarios */
.valoracion {
    color: gray;
}

.coloreada {
    color: orange;
}

#valoraciones {
    display: flex;
    width: 80%;
    margin-left: 10%;
}

#comentarios {
    width: 80%;
}

#valorarForm {
    width: 20%
}

#valorarForm p {
    text-align: left;
}

/* Estrellas de valoración */
#valorarForm label {
    font-size: 20px;
    color: gray;
}

#valorarForm input[type="radio"]{
    display: none;
}

.estrellas {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#valorarForm label:hover, #valorarForm label:hover ~ label{
    color: orange;
}

#valorarForm input[type="radio"]:checked ~ label {
    color: orange;
}

#valorarForm textarea {
    width: 100%;
}
