AddDefaultCharset utf-8

Options +FollowSymLinks
RewriteEngine on

RewriteBase /BooxChange/
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

ErrorDocument 404 /BooxChange/error404.php


#   Home
RewriteRule ^inicio$ index.php [L]

# Libros
RewriteRule ^libro/([a-zA-Z]+)$ libroTienda.php?id=$1 [L]